<%= content_for :title, 'Account Settings' %>

<!-- User Edit Form -->
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form' }) do |f| %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div class="col-xs-12">
  <div class="alert alert-warning">
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  </div>
</div>
<% end %>

<div class="col-xs-12">
  <p>Your email: <%= current_user.email %></p>
  <p>Your username: <%= current_user.username %></p>
</div>

  <%= f.input :current_password, class: 'form-control', placeholder: "Current password..", required: true, hint: 'you must enter your current password to make changes' %>

  <%= f.input :password, class: 'form-control', placeholder: "New password.." %>
  <%= f.input :password_confirmation, class: 'form-control', placeholder: "New password again.." %>

<div class="form-group form-actions">
    <%= f.button :button, 'Update Password', class: 'btn btn-lg btn-block btn-effect-ripple btn-primary', data: { disable_with: '<i class="fa fa-circle-o-notch fa-spin"></i> loading...' } %>
  </div>
<% end %>
<!-- END User Edit Form -->
